<div id="login-form">
 <form action="/login" method="POST">
    <input type="text" name="user[user_name]" placeholder="Enter username">
    <input type="password" name="user[password]" placeholder="Enter password">
    <input type="submit" value="Login">
  </form>
</div>
