<div id="signup-form">
  <h1>Welcome, please sign up for lunch retrieval</h1>
  <form action="/signup" method="POST">
    <input type="text" name="user[user_name]" placeholder="What's your user_name">
    <input type="text" name="user[email]" placeholder="What's your email">
    <input type="password" name="user[password]" placeholder="Enter password">
    <input type="password" name="user[password_confirmation]" placeholder="Confirm password">
    <input type="text" name="user[name]" placeholder="Oh.. what's your name?">
    <input type="submit" value="Signup">
  </form>
</div>
