<div id="new-order-form">
  <h3>What would you like?</h3>

  <form action="/order/new" method="POST">
    <input type="text" name="restaurant[name]" placeholder="Which restaurant?">
    <input type="text" name="item[name]" placeholder="What would you like?">
    <input type="submit" value="Submit order">
  </form>

</div>
