<table>
  <tr>
    <td><a id="request-pickup" href="/order/new"> Create Order </a></td>
    <td><a id="available-pickups" href="/order/search"> Orders Available for Pickup </a></td></tr>

  <tr>
    <td><a id="my-active-orders" href="/order/all/<%= current_user.id%>"> My Orders</a></td>
    <td><a id="my-active-pickups" href="/pickup/<%= current_user.id%>"> My Pickups </a></td></tr>

</table>
